@charset"UTF-8";
section{
	padding-top:40px;
	padding-bottom:30px;
	text-align:center;
	border:2px dotted #000;
}
.itembox{
	display:flex;
	flex-wrap:wrap;
	justify-content:center
}

.item{
	background: #09b;
	margin:10px;
	padding:10px;
	width:280px;
	height:250px;
}
.item dt{
	text-align: center;
	color:#ffffff;
	font-size:20px;
	font-weight: bold;
        padding: 10px 20px 10px;
}
.item dd{
	margin-left:-1px;
	color:#ffffff;
}
