@charset"UTF-8";
.container{
	display: flex;/*flex-box化する*/
	height:100vh;
	align-items:flex-start;
	/*align-items:flex-start; */
	/*水平方向の揃え*/
         /*justify-content:space-between;間隔を開けて配置する*/
	/*justify-content:center;中央に配置する*/
	/*justify-content::flex-start; */
    /* justify-content:flex-end; 左端に表示する*/
	/*改行について*/
       /*flex-wrap:wrap-reverse;子要素を特殊な形（逆順で）改行する*/
	/*flex-wrap: wrap;　*子要素を改行する*/
	/*並び順について*/
	/*flex-direction:row-reverse;子要素を横表示で下から順（要素の遅い順）に配置する*/
        /*flex-direction:column-reverse;子要素を縦表示で下から順（要素の遅い順)に配置する*/
}
.item{
	background: #0bd;
	color: #fff;
	margin: 10px;
	padding: 10px;
}
